<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="con" connectionString="Data Source=DESKTOP-K3OHU75;Initial Catalog=RentedMovie;Integrated Security=SSPI; MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>